<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO APP</title>
</head>
<style>
    .container{
        text-align:center;
    }
    li{
        list-style:none;
    }
  
  
   
</style>
<body>

<div class=container>
    <div class="table table-light">
    <div class="jumbotron jumbotron-fluid p-3">
        <div class=" well text-container">
            <h1 class="display-4">Nifty Todo</h1>
            <div id="error" class="hidden">Something went wrong!</div>

            <ul id="todolist">
                {% for todo in todos %}
               <li>{{todo.content}} </li>
                {% endfor %}
            </ul>
            <form action="/todos/create" method ="POST" id="form">
                <input type="text" id="content"  class ="form-control" placeholder='write your todo...' name="content" />
                <input type="submit" value="Save" id="submitbutton" class="btn btn-success"/>
        </form>
        </div>
    </div>
</div>
</div>
        
    


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
<link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>
